
# Configuration Files #
/local.properties

# Mac OS Files #
.DS_Store

# IDE Files #
*.iml
.idea/*
/.idea/workspace.xml

# Compiled Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# gradle
.gradle/
